
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFC42B;
    font-family: 'Orbitron', sans-serif;
    color: white;
    user-select: none;
    
}
#back{
    width: 93%;
    height: 93%;
    background-color: #272726;
    position: absolute;
    /* z-index: 1; */
    margin: 35px 55px ;
    border-radius: 20px;
}
#background{
    position: absolute;
    width: 95%;
    height: 95%;
    left: 38px;
    top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://th.bing.com/th/id/R.d2dd4bdb545623a6181d783d5b087713?rik=K%2bVvqaV%2bZ6hjOA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2f2%2f2%2f1028441-cool-grassland-background-3840x2160-for-windows-10.jpg&ehk=Sd48WF0B0k6FJupScHk1wxaOlZ81jXTvEcHWCIv3WtA%3d&risl=&pid=ImgRaw&r=0);
    border-radius: 20px;
}
#outbox{
    width: 45%;
    height: 98%;
    background-color: #3D0E0E;
    margin-left: 26%;
    margin-top: 10px;
    border-radius:11px;
    padding-top: 2%;
    padding-left: 2%;
}
#inbox{
    width: 96%;
    height: 96%;
    background-color: #612A2A;
    border-radius: 11px;
    text-align: center;
}
#inbox h1{
    font-size: 53px;
    padding-top: 20px;
}
#inbox p{
    font-size: 33px;
    line-height: 55px;
    margin-top: 50px;
    padding: 0 15px 0 15px ; 
}
#inbox img{
    position: relative;
    left: 46%;
    top: 2%;
}

/* @media only screen and (max-width: 480px) {
    #back{
        width: 95%;
        height: 89%;
        margin: 25px 9px;
    }
    #background{
        top: 10px;
        left: 10px;
        width: 95%;
    }
    #outbox{
        width: 73%;
        margin-left: 15%;
    }
    #inbox h1{
        font-size: 25px;
        padding-top: 0px;
    }
    #inbox p{
        font-size: 18px;
        line-height: 23px;
        margin-top: 25px;
    }
    
} */

@media only screen and (max-width: 950px) {
    #back{
        width: 98%;
        height: 94%;
        margin: 14px 10px;
    }
    #background{
        top: 10px;
        left: 10px;
        width: 98%;
    }
    #outbox{
        width: 73%;
        margin-left: 15%;
        margin-top: 4px;
    }
    #inbox h1{
        font-size: 41px;
        padding-top: 0px;
    }
    #inbox p{
        font-size: 30px;
        line-height: 40px;
        margin-top: 25px;
    }
}