
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFC42B;
    font-family: 'Orbitron', sans-serif;
    color: white;
    cursor: url(./assets/Group\ 1.png) 50 0,auto;
    user-select: none;
    
}
#back{
    width: 93%;
    height: 93%;
    background-color: #272726;
    position: absolute;
    /* z-index: 1; */
    margin: 35px 55px ;
    border-radius: 20px;
}
#background{
    position: absolute;
    width: 95%;
    height: 95%;
    left: 38px;
    top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://th.bing.com/th/id/R.d2dd4bdb545623a6181d783d5b087713?rik=K%2bVvqaV%2bZ6hjOA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fa%2f2%2f2%2f1028441-cool-grassland-background-3840x2160-for-windows-10.jpg&ehk=Sd48WF0B0k6FJupScHk1wxaOlZ81jXTvEcHWCIv3WtA%3d&risl=&pid=ImgRaw&r=0);
    border-radius: 20px;
}
#logo img{
    height: 400px;
    width: 400px;
    /* margin-left: 35%; */
}
#game{
 
    height: 44%;
    width: 52%;

    margin-left: 28%;
    margin-top: -2%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
}
#top{
    display: flex;
    justify-content: space-between;
    /* padding-top: 50px; */
}
#scores div{
    display: flex;

}
#scores{
    padding-top: 50px;
    line-height: 55px;
    padding-left: 50px;
}

#timer{
    display: flex;
    padding-top: 50px;
    padding-right: 91px;
}
#timer span{
    display: flex;
}
#time,#score,#high{
    margin-left: 15px;
}

#game div{
    height: 143.6px;
    width: 226px;
    background-image: url(./assets/Rectangle\ 32.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left:43px;
}
#game div img{
width: 75px;
}

