@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFC42B;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
#back{
    width: 93%;
    height: 93%;
    background-color: #272726;
    position: absolute;
    /* z-index: 1; */
    margin: 35px 55px ;
    border-radius: 20px;
    
} 
#name{
    position: absolute;
    background-color: #FFC42B;
    height: 78%;
    width: 30%;
    left: 35%;
    top: 10%;
    border-radius: 25px;
}
#name div{
    position: absolute;
    height: 60%;
    width: 93%;
    background-color: #272726;
    right: 4%;
    top: 2%;
    border-radius: 20px;
}
#name div div{
    position: absolute;
    height: 86%;
    width: 92%;
    top: 4%;
    background-color: #7F7F7F;
    color: #00000080;
    box-shadow: inset 0 0 10px;
    /* padding: 47px; */
}
input{
    width: 95%;
    height: 14%;
    border-radius: 20px;
    background-color: #272726;
    color: #7F7F7F;
    margin-top: 75px;
    padding-right: 5%;
    margin-left: 10px;
    font-size: 25px;
    border-color: #272726;
}
h1{
    margin-left: 10%;
    margin-top: 8%;
    -webkit-text-stroke: 1px#272726;
    font-weight: bolder;
}
button{
    position: absolute;
    /* z-index: 1; */
    top: 72%;
    width: 70%;
    height: 70px;
    left: 16%;
    border-radius: 20px;
    border: none;
    background-color: #272726;
    cursor: pointer;
    color: white;
    font-size: 48px;
    font-family: 'Orbitron', sans-serif;


}