@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFC42B;
    font-family: 'Orbitron', sans-serif;
    color: white;
    
}
#back{
    width: 93%;
    height: 93%;
    background-color: #272726;
    position: absolute;
    /* z-index: 1; */
    margin: 35px 55px ;
    border-radius: 20px;
}
#parent{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    left: 11%;
    top: 15%;
    justify-content: space-around;
}
#next{
    position: absolute;
    display: flex;
    top: 70%;
    left: 21%;
    width: 56%;
    justify-content: space-between;
}
#wizardltQuest{ 
    background-color: #272726;
    border:6px #FFC32B solid;
    border-radius: 20px;
    color: #FFC32B;
    /* width: 50%; */
    font-size: 40px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    
}
#moleDestroyer{
    background-color: #272726;
    border:6px #FFC32B solid;
    border-radius: 20px;
    color: #FFC32B;
    /* width: 350%;
    height: 300%; */
    font-size: 40px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

@media only screen and (max-width: 432px) {
    #back{
        width: 92%;
        height: 94%;
        margin: 25px 18px;
    }
    #parent{
        top: 6%;
        left: 23%;
        line-height: 75px;
    }
    #parent img{
        width: 70%;
    }
    #next{
        /* top: 0;
        left: 0; */
        flex-direction: column;
        top: 32%;
        left: 30%;
        height: 49%;
    }
    #wizardltQuest{
        font-size: 20px;
    }
    #moleDestroyer{
        font-size: 20px;

    }
}